.title {
  font-weight: 600;
  margin-left: 100px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.item {
  width: 270px;
  height: 300px;
  box-shadow: 10px 2px 2px rgba(0, 0, 0, 1);
  border-radius: 2px;
  overflow: hidden;
  margin-top: 10px;
}

.item:hover {
  transform: scale(1.01);
}

.link {
  text-decoration: none;
  color: white;
}
