.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  border-radius: 2px;
  overflow: hidden;
  margin-left: 100px;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  margin-right: 20px;
  background-color: initial;
  height: 30px;
  color: white;
}

.input:hover {
  outline: none;
}

.button {
  height: 25px;
  color: white;
  background-color: #e50914;
  border: 0;
  border-radius: 2px;
}

.moviesItem {
  color: white;
  list-style: none;
  margin-bottom: 10px;
}

.moviesItem:hover,
.moviesItem:focus {
  color: #e50914;
}

.moviesLink {
  text-decoration: none;
  font-size: 18px;
}

.moviesItem {
  margin-left: 100px;
}
